html {font-family: arial}
h1 {text-align: center;
  color:#FFFFFF;
}

#header{
  height:auto;
  background:#2F2F2E;
  margin-top:-20px;
  margin-bottom:-10px;
}
#nav {
  align-items: center;
  display: flex;
  justify-content: center;
}
ul {
  list-style-type:none;
  border: 0px solid red;
  padding: 40px;

}
li {
  display:inline-block;
  border:1px solid black;
  padding:10px;
  background:#262626;
}
li a {color:#FFFFFF;
  text-decoration:none;
  text-align: center;
}
li:hover {
  background:#1919ff;
}
#body1 {
  text-align: center;
}
